<div class="displayTable">
	<div ng-if="!showOtpDiv" class="verticalMiddle formStyle cardBg">
		<div class="login" ng-init="required=true">
			<div class="logo text-center"><a ui-sref="signIn"><img ng-src="{{imagePath}}/npcilogo.png" alt="Npci Logo"></a></div>
			<br>
			<div>
			<br>
			<form name="emailForm" ng-submit="emailForm.$valid && emailFormSubmit()" autocomplete="off" novalidate accessible-form>
			   <div class="form-group" ng-class="{true: 'has-error'}[submitted && emailForm.email.$invalid || radioSelectionEmptyCheck]">
				   <input type="email" ng-class = "{im_active: resetPass.email}" placeholder="E-mail address" name="email" ng-model="resetPass.email" class="form-control" required autofocus="autofocus"  ng-change="radioSelection = null;checkValidation(resetPass.email)"/>
				   <p class="text-danger" ng-show="(radioSelectionEmptyCheck) || (submitted && emailForm.email.$error.required)"><small id="frg_text1">This is a required field.</small></p>
				   <p class="text-danger" ng-show="submitted && emailForm.email.$error.email"><small id="frg_text2">Email is invalid.</small></p>
			  
			   </div>
			   <h4 class="text-center noMargin"><strong>Select Reset Options</strong></h4>
			   <br>
			   <div class="form-group" ng-class="{true: 'has-error'}[submitted && emailForm.option_select.$invalid]">
			       <input type="radio" class ="setRadio_left" name="option_select" value="email" ng-model="radioSelection"  ng-click="selectedRadioButton(radioSelection)"  required /> 
			     		<label class="setLabel_left">Reset With OTP</label>
			      <input type="radio" class ="setRadio_left" name="option_select" value="securityQuestion" ng-model="radioSelection" ng-click="selectedRadioButton(radioSelection);submitted = false" required/> 
			    	   <label class="setLabel_left">Reset With Security Question</label>
			       <p class="warning_msg"  ng-show = "submitted && emailForm.option_select.$error.required">Please select any one option</p>
			   </div>
			  
			   <div class='form-group' ng-class="{true: 'has-error'}[$parent.submitted && emailForm.primaryQuestion.$invalid]" ng-if="showSecurityQues">
			        <select class="form-control" ng-model="userSelection.primaryQuestion" placeholder="Select security question" 
			        ng-change="showSecondQuestion(userSelection.primaryQuestion)" name="primaryQuestion" ng-disabled="disabledBanknameDropdown" ng-required="radioSelection == 'securityQuestion'">
			        <option  value="">SELECT SECURITY QUESTION</option>
				     <option ng-repeat="item in questions" value="{{item.questionId}}">{{item.question}}</option>
				    </select>
				    <p class="text-danger" style="color:red"  ng-show = "$parent.submitted && emailForm.primaryQuestion.$error.required">Please select security question{{$parent.submitted}}</p>
			   </div>
			   <div class='form-group'  ng-class="{true: 'has-error'}[submitted && emailForm.primaryAnswer.$invalid]"  ng-if="primaryAnswerhide">
			       <input type="text" class="form-control" id="primaryAnswer" placeholder="Enter Answer" name="primaryAnswer" ng-model="userSelection.primaryAnswer" ng-required="radioSelection == 'securityQuestion'" autofocus />
			          <p class="text-danger" style="color:red"  ng-show = "submitted && emailForm.primaryAnswer.$error.required " >Answer Required</p>
			   </div>
			    <div class='form-group'  ng-class="{true: 'has-error'}[submitted && emailForm.secoundQues.$invalid]"  ng-if="showSecurityQues">
			        <select class="form-control" ng-model="userSelection.secondryQuestion" placeholder="Select security question" ng-hide="true"
			         ng-show="secoundQues" name="secoundQues" id="secoundQues" ng-change="showSecondryAnswer(userSelection.secondryQuestion)" ng-disabled="disabledBanknameDropdown" ng-required="radioSelection == 'securityQuestion'">
			         <option  value="">SELECT SECURITY QUESTION</option>
				     <option ng-repeat="item in secQues" value="{{item.questionId}}" >{{item.question}}</option>
				    </select>
				     <p class="text-danger" style="color:red"  ng-show = "submitted && emailForm.secoundQues.$error.required && secoundQues" >Please select security question</p>
			   </div>
			    <div class='form-group' ng-class="{true: 'has-error'}[submitted && emailForm.secondryAnswer.$invalid]"  ng-if="showSecurityQues">
			       <input type="text" class="form-control" placeholder="Enter Answer" ng-model="userSelection.secondryAnswer" name="secondryAnswer" id="secondryAnswer" ng-hide="true" ng-show="showSecAnswer" autofocus ng-required="radioSelection == 'securityQuestion'" />
			         <p class="text-danger" style="color:red"  ng-show = "submitted && emailForm.secondryAnswer.$error.required && showSecAnswer" >Answer Required</p>
			   </div>
			   <input type="submit" class="btn btn-block btn-lg btn-danger" value="Next" ng-click="submitted=true" id="sendMail">
			   <p class="infoTxt"><small id="frg_text3">Please click on the <img ng-src="{{imagePath}}/npcilogo.png" alt="Npci Logo" /> to go to the Login Page</small></p>
			</form>
			</div>
		</div>
	</div>	
	<div ng-if="showOtpDiv" class="verticalMiddle formStyle cardBg">
		<div class="login">
			<div class="logo text-center"><a ui-sref="signIn"><img ng-src="{{imagePath}}/npcilogo.png" alt="Npci Logo"></a></div>
			<br>
			<div>
			
			<form name="otpForm" ng-submit="otpForm.$valid && otpFormSubmit()" autocomplete="off" novalidate accessible-form>
			  <h4 class="text-center noMargin" ><strong id="frg_text4">An OTP has been sent to your Email Id: </strong><strong class="text-info" id="login_val_text_email">{{resetPass.createdBy}}. </strong id="login_val_text6">Please enter it below.</h4><br>
			   <div class="form-group" ng-class="{true: 'has-error'}[submitted && otpForm.otp.$invalid]">
				   <input id ="frg_otp1" ng-class = "{ im_active: resetPass.otp1 }" type="password" placeholder="*" name="otp" ng-model="resetPass.otp1" class="otp-control" required focus  only-digits maxlength="1" />
				   <input id ="frg_otp2" ng-class = "{ im_active: resetPass.otp2 }" type="password" placeholder="*" name="otp" ng-model="resetPass.otp2" class="otp-control" required focus  only-digits maxlength="1" />
				   <input id ="frg_otp3" ng-class = "{ im_active: resetPass.otp3 }" type="password" placeholder="*" name="otp" ng-model="resetPass.otp3" class="otp-control" required focus  only-digits maxlength="1" />
				   <input id ="frg_otp4" ng-class = "{ im_active: resetPass.otp4 }" type="password" placeholder="*" name="otp" ng-model="resetPass.otp4" class="otp-control" required focus  only-digits maxlength="1" />
				   <input id ="frg_otp5" ng-class = "{ im_active: resetPass.otp5 }" type="password" placeholder="*" name="otp" ng-model="resetPass.otp5" class="otp-control" required focus  only-digits maxlength="1" />
				   <input id ="frg_otp6" ng-class = "{ im_active: resetPass.otp6 }" type="password" placeholder="*" name="otp" ng-model="resetPass.otp6" class="otp-control" required focus  only-digits maxlength="1" />
				   
				   <p class="text-danger" ng-show="submitted && otpForm.otp.$error.required"><small id="frg_text5">This is a required field.</small></p>
				   <p class="text-danger" ng-show="submitted && otpForm.otp.$error.minlength"><small id="frg_text6">Should be 6 characters.</small></p>
			   </div>
			   <h4 class="text-center noMargin" ng-show="resendOTp"><strong class="text-danger noMargin" id="frg_text7">Your OTP has expired. Please click on Re-send OTP button to receive new OTP.</strong></h4>
			   <h4 class="text-center noMargin" ng-hide="resendOTp"><strong id="frg_text8">Your OTP will expire in <timer id="frg_text9" notify-when-stop="timerStopped" interval="1000" countdown="timer"></timer></strong></h4>
			   <br>
			   <div class="form-group" ng-class="{true: 'has-error'}[submitted && otpForm.resetPassword.$invalid]">			   		
			        <input id="frg_pass1" ng-class = "{ im_active: resetPass.password }" type="password" placeholder="create password" name="resetPassword" ng-model="resetPass.password"  ng-pattern="/^(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,20}$/" class="form-control" required/>
					<p class="text-danger" ng-show="submitted && otpForm.resetPassword.$error.required"><small id="frg_text11">This is a required field.</small></p>
				    <a class="formHints" popover data-placement="top" data-container="body"
					  data-html="true"   data-content="<div id='my-data-content'><p>The password must have at least 8 character(s).<br>
					  At least 1 digit(s).<br>
					  At least 1 lower case letter(s).<br>
					  At least 1 upper case letter(s).<br>
					  At least 1 non-alphanumeric character(s).<br></p></div>">
					   <img src="../img/info.png" alt="password criteria"></a>
				   <p class="text-danger" ng-show="submitted && otpForm.resetPassword.$error.pattern"><small id="frg_text12">Minimum eight characters, at least one letter, one number and one special character.</small></p>
			   	</div>
			   <div class="form-group" ng-class="{true: 'has-error'}[submitted && otpForm.resetRePassword.$invalid]">
			        <input id="frg_pass2" ng-class = "{im_active: resetPass.reTypePassword }" type="password" placeholder="confirm password" ng-model="resetPass.reTypePassword" name="temporaryPassword" minlength="8" maxlength="20" password-verify="{{resetPass.password}}" class="form-control" required/>
					<p class="text-danger" ng-show="submitted && otpForm.temporaryPassword.$error.required"><small id="frg_text13">This is a required field.</small></p>
					<p class="text-danger" ng-show="submitted && otpForm.temporaryPassword.$error.minlength"><small id="frg_text14">Should be at least 8 characters.</small></p>
					<p class="text-danger" ng-show="otpForm.temporaryPassword.$error.passwordVerify && !otpForm.temporaryPassword.$error.required && !otpForm.temporaryPassword.$error.minlength"><small>Password and confirm password is not same!</small></p>
			   </div>			   
			   <input id="frg_button1" type="submit" class="btn btn-block btn-lg btn-danger" value="Submit" ng-click="submitted=true" id="forgotPass">
			   <br>			
				<p class="text-center"><small>Didn't receive OTP? <a ng-click="resendOtp();submitted=false" id="resendOTP"> RESEND OTP</a><a id="reLogin" ui-sref="signIn" > SWITCH USER</a></small></p><!-- <a id="reLogin" ng-click="hideOtp()" > SWITCH USER</a></small></p> -->
				<p class="infoTxt"><small>Please click on the <img ng-src="{{imagePath}}/npcilogo.png" alt="Npci Logo" /> to go to the Login Page</small></p>
			</form>
			</div>
		</div>
	</div>	 
</div>
