<efrm-nav></efrm-nav>
<!-- <div class="container-fluid bannerWide hasHeader">
	<div class="row">

		<div class="col-md-6 col-lg-5 hidden-xs hidden-sm data-tilt">
			<img ng-src="{{imagePath}}/virtual-card.png"
				class="img-responsive center-block vCardImg" alt="Spectrum Card">
		</div>
		<div class="col-sm-12 col-md-6 col-lg-7 text-center">
			<h1>Spectrum Credit Card</h1>
			<h2>A private label card for all the exclusive needs</h2>
			<p>
				This is a solution for extendable online<br>credit
				decision-making through<br>parameterized rules.
			</p>
			<button type="button" class="btn btn-danger btn-lg">GET
				STARTED</button>
			<br>
			<button type="button" class="btn btn-default btn-lg">
				<img ng-src="{{imagePath}}/call.png" alt="Call for Spectrum"> CALL
				1-800-EFRM-PICK
			</button>
		</div>

	</div>
</div>
<div class="container-fluid">
	<div class="row flex-container">
		<div class="col-sm-6 cardFeature brdRight">
			<img ng-src="{{imagePath}}/money-icon.png" alt="Autopay is Magic">
			<h4>Autopay is Magic</h4>
			<p>
				<span class="line one"></span><span class="line two"></span><span
					class="line three"></span>
			</p>
			<p>Late payment fees are for people who forget to send checks in
				the mail. Don't be that person. Sign up, link your bank account, set
				a date, and forget about it. It's that easy.</p>
		</div>
		<div class="col-sm-6 cardFeature">
			<img ng-src="{{imagePath}}/secutiry-icon.png" alt="Fraud Coverage">
			<h4>Fraud Coverage</h4>
			<p>
				<span class="line one"></span><span class="line two"></span><span
					class="line three"></span>
			</p>
			<p>We built Final to drastically reduce fraud and canceled cards,
				but mail. Don't be that person. Sign up, link your bank account, set
				a date, and forget about it. It's that easy.</p>
		</div>
		<div class="col-sm-6 cardFeature brdRight">
			<img ng-src="{{imagePath}}/tick-icon.png" alt="No 'Over Your Limit' Fees">
			<h4>No 'Over Your Limit' Fees</h4>
			<p>
				<span class="line one"></span><span class="line two"></span><span
					class="line three"></span>
			</p>
			<p>Some companies like to charge fees in case you accidentally
				try charging a transaction that goes beyond your credit limit. We
				didn't like that overselves, so we won't do it to you.</p>
		</div>
		<div class="col-sm-6 cardFeature">
			<img ng-src="{{imagePath}}/cup-icon.png" alt="$0 First-year Annual Fee">
			<h4>$0 First-year Annual Fee</h4>
			<p>
				<span class="line one"></span><span class="line two"></span><span
					class="line three"></span>
			</p>
			<p>And after that, it's only $35. Let us prove to you that peace
				of mind is worth at least five orange mocha frappucinos.</p>
			<a href="#">SEE OUR RATES AND FEE INFORMATION</a>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6" id="parallax">
			<img ng-src="{{imagePath}}/virtual-card-1.png" alt="virtual-card-1"
				class="parallax-layer parallax1"> <img
				ng-src="{{imagePath}}/virtual-card-2.png" alt="virtual-card-2"
				class="parallax-layer parallax2"> <img
				ng-src="{{imagePath}}/virtual-card-3.png" alt="virtual-card-3"
				class="parallax-layer parallax3">
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-sm-7 col-md-10 col-lg-7 text-center benifits">
					<h4>
						<img ng-src="{{imagePath}}/card.png" alt="Credit Card"> Credit Card
					</h4>
					<p>This is a solution for extendable online credit
						decision-making through parameterized rules and also a role based
						review, approval, and acceptance process which enable the users
						for an instance use of the line of credit.</p>
				</div>
				<div class="col-sm-7 col-md-10 col-lg-7 text-center benifits">
					<h4>
						<img ng-src="{{imagePath}}/benifits.png" alt="Benifits"> Benifits
					</h4>
					<p>This provides a scalable, customizable credit format for
						ease of use and.</p>
				</div>
				<div class="col-sm-7 col-md-10 col-lg-7 text-center benifits">
					<h4>
						<img ng-src="{{imagePath}}/call.png" alt="Easy Access" width="38"> Easy
						Access
					</h4>
					<p>This is a residual calculation management engine which
						manages processor data, administers pricing plans, and carries out
						residual calculation. The solution is highly flexible and quickly
						adapts to a rapidly changing payments landscape.</p>
				</div>
			</div>
		</div>
	</div>
</div> -->

