<div class="userDashboard container-fluid" id="createQueue">

	<div class="hasHeader">
		<!-- Tabs start -->
		<div class="userTabs clearfix">
			<div class="tab-content formStyle">
				<div class="pageHeading" >
					<h5 ng-if="showSubmitButton">{{isEditable?'Update Queue':'Create Queue'}}</h5> <h5 ng-if="!showSubmitButton">View Queue</h5>
				</div>
				<div class="tab-pane active" id="createQueue">
					<form  ng-submit="createQueueForm.$valid && createQueueSubmit()"
						name="createQueueForm" novalidate accessible-form>
						
						
						<!-- <div class="clearfix row" ng-if="isEditable">

							<div class="form-group col-sm-3">
								<span class="textcell_reports">QUEUE ID:</span> <input
									type="text" disabled class="form-control capitalize"
									id="queueId" name="queueId" ng-model="createQueue.queueId"
									placeholder="Queue Id" autocomplete="off" maxlength="50"
									required />
							</div>
							<div class="clearfix row">
							
								<div class="form-group col-sm-4">
									<span class="textcell_reports">CHANNEL:</span> 
									<select ng-model="createQueue.selectedChannel" name="selectedChannel" ng-change="searchRule(createQueue.selectedChannel)" class="form-control"
										id="selectedChannel" required>
										<option value="">PLEASE SELECT CHANNEL</option>
										<option class="upperCases" ng-repeat="item in channel_code"
											value="{{item.channelCode}}">{{item.channelDesc}}</option>
									</select>
									<div class="text-danger" id="selectedChannel_required_msg"
										ng-show="createQueueForm.selectedChannel.$error.required && submitted">
										<small>This is a required field.</small>
									</div>
								</div>
								
								<div class="form-group col-sm-4" ng-class="{true: 'has-error'}[submitted && createQueueForm.selectedOrgID.$invalid]">
									<span class="textcell_reports">ORGANISATION:</span> 
									<select class="form-control" name="selectedOrgID" id="selectedOrgID" ng-disabled = "organisationDisabled" ng-model="createQueue.orgId"  required>
					 						<option value="">PLEASE SELECT THE ORGANISATION</option>
											<option class="upperCases" ng-repeat="data in orgarnisations" value="{{data.orgId}}">{{data.name}}</option>
									</select>
									<div class="text-danger" id="selectedOrgId_required_msg"
										ng-show="createQueueForm.selectedOrgID.$error.required && submitted">
										<small>This is a required field.</small>
									</div>
								</div>
								
								
								
								
							</div>
							
							<div class="clearfix row">
							
							<div class="form-group col-sm-4">
									<span class="textcell_reports">QUEUE CODE:</span> <input
										type="text" disabled class="form-control capitalize"
										id="queueCode" name="queueCode" ng-pattern-restrict="[A-Z a-z - ' @ 0-9]*$"
										ng-model="createQueue.queueCode" placeholder="Queue Code"
										autocomplete="off" maxlength="50" required />
								</div>
								

								<div class="form-group col-sm-4"
									ng-class="{true: 'has-error'}[submitted && createQueueForm.queueName.$invalid]">
									<span class="textcell_reports">QUEUE NAME:</span> <input
										type="text" class="form-control capitalize" id="queueName" ng-pattern-restrict="[A-Z a-z - ' @ 0-9]*$"
										name="queueName" ng-model="createQueue.queueName"
										placeholder="Queue Name*" autocomplete="off" maxlength="50"
										required />
									<div class="text-danger" id="queueName_update_required_msg"
										ng-show="createQueueForm.queueName.$error.required && submitted">
										<small>This is a required field.</small>
									</div>
									<div class="text-danger" id="queueName_update_maxlength_msg"
										ng-show="createQueueForm.queueCode.$error.maxlength && submitted">
										<small>Maximum length required is 50</small>
									</div>
									
							</div>
							
							
							
							<div class="form-group col-sm-4"
								ng-class="{true: 'has-error'}[submitted && createQueueForm.selectedPriority.$invalid]">
								<span class="textcell_reports">PRIORITY:</span> <select
									ng-model="createQueue.priority" name="selectedPriority" ng-change="changePriority(createQueue.priority)"
									id="selectedPriority" class="form-control" required>
									<option value="">PLEASE SELECT THE PRIORITY</option>
									<option class="upperCases" ng-repeat="item in items" value="{{item.value}}">{{item.name}}</option>
								</select>
								<div class="text-danger" id="selectedChannel_required_msg"
									ng-show="createQueueForm.selectedPriority.$error.required && submitted">
									<small>This is a required field.</small>
								</div>
							</div>
							
						</div>
					</div> -->
						
						<div class="clearfix row" >
						  	<div class="form-group col-sm-4">
								<span class="textcell_reports">CHANNEL:</span> 
								<select ng-model="createQueue.selectedChannel" ng-disabled="isEditable" ng-change="changeChannel(createQueue.selectedChannel)" name="selectedChannel"  class="form-control"
									id="selectedChannel" required>
									<option style="display:none" value="">PLEASE SELECT CHANNEL</option>
									<option class="upperCases" ng-repeat="item in channel_code|orderBy:'channelDesc'"
										value="{{item.channelCode}}">{{item.channelDesc}}</option>
								</select>
								<div class="text-danger" id="selectedChannel_required_msg"
									ng-show="createQueueForm.selectedChannel.$error.required && submitted">
									<small>This is a required field.</small>
								</div>
							</div>
							
								<div class="form-group col-sm-4" ng-class="{true: 'has-error'}[submitted && createQueueForm.selectedOrgID.$invalid]">
									<span class="textcell_reports">Organisation:</span> 
									 <select class="form-control" name="selectedOrgID" id="selectedOrgID" ng-change="searchRule(createQueue.selectedChannel)" ng-disabled = "organisationDisabled" ng-model="createQueue.orgId"  required>
					 						<option style="display:none" value="">PLEASE SELECT THE ORGANISATION</option>
											<option class="upperCases" ng-repeat="data in orgarnisations" value="{{data.orgId}}">{{data.name}}</option>
									</select>
									<!--  <ui-select 
							           id="selectedOrgID"
							           name="selectedOrgID"
							           ng-model="createQueue.orgId" 
							           uiSelectNoAnimate
							           theme="selectize"  
							           title="Choose a organisation"
							           append-to-body="true" 
							           close-on-select="true" 
							           ng-disabled = "organisationDisabled"
							            on-select="searchRule(createQueue.selectedChannel)"
							           ng-required="true"
								   >
      	 						<ui-select-match placeholder="SELECT A ORGANISATION IN THE LIST...">{{$select.selected.name}}</ui-select-match>
							     <ui-select-choices 
							        repeat="option.orgId as option in orgarnisations | filter: $select.search  | uppercase"
							        position="down" 
							       
							        refresh-delay="300">
							      <span ng-bind-html="option.name | highlight: $select.search"></span>
							      <small ng-bind-html="option.orgId | highlight: $select.search"></small>
							    </ui-select-choices>
    						</ui-select> -->
									<div class="text-danger" id="selectedOrgId_required_msg"
										ng-show="createQueueForm.selectedOrgID.$error.required && submitted">
										<small>This is a required field.</small>
									</div>
								</div>
								
								
							</div>
							<div class="clearfix row">
							
								<div class="form-group col-sm-4" 
									ng-class="{true: 'has-error'}[submitted && createQueueForm.queueCode.$invalid]">
									<span class="textcell_reports">QUEUE CODE:</span> <input ng-disabled="isEditable"
										type="text" class="form-control capitalize" id="queueCode"
										name="queueCode" ng-model="createQueue.queueCode" ng-pattern-restrict="^[A-Z a-z - ' @ 0-9]*$"
										placeholder="Enter Queue Code*" autocomplete="off"
										maxlength="50" required />
									<div class="text-danger" id="queueCode_create_required_msg"
										ng-show="createQueueForm.queueCode.$error.required && submitted">
										<small>This is a required field.</small>
									</div>
									<div class="text-danger" id="queueCode_create_maxlength_msg"
										ng-show="createQueueForm.queueCode.$error.maxlength && submitted">
										<small>Maximum length required is 50</small>
									</div>
								</div>
								

								<div class="form-group col-sm-4" 
									ng-class="{true: 'has-error'}[submitted && createQueueForm.queueName.$invalid]">
									<span class="textcell_reports">QUEUE NAME:</span> <input ng-disabled="isEditable"
										type="text" class="form-control capitalize" id="queueName"
										name="queueName" ng-model="createQueue.queueName"
										placeholder="Enter Queue Name*" autocomplete="off" ng-pattern-restrict="[A-Z a-z - ' @ 0-9]*$"
										maxlength="50" required />
									<div class="text-danger" id="queueName_create_required_msg"
										ng-show="createQueueForm.queueName.$error.required && submitted">
										<small>This is a required field.</small>
									</div>
									<div class="text-danger" id="queueName_create_maxlength_msg"
										ng-show="createQueueForm.queueCode.$error.maxlength && submitted">
										<small>Maximum length required is 50</small>
									</div>
							</div>
						 
							

							<div class="form-group col-sm-4"
								ng-class="{true: 'has-error'}[submitted && createQueueForm.selectedPriority.$invalid]">
								<span class="textcell_reports">PRIORITY:</span> 
								
								<select
									ng-model="createQueue.priority" name="selectedPriority" ng-change="changePriority(createQueue.priority)"
									id="selectedPriority" class="form-control" required>
									<option style="display:none" value="">PLEASE SELECT THE PRIORITY</option>
									<option class="upperCases" ng-repeat="item in items" value="{{item.value}}">{{item.name}}</option>
								</select>
								<div class="text-danger" id="selectedChannel_required_msg"
									ng-show="createQueueForm.selectedPriority.$error.required && submitted">
									<small>This is a required field.</small>
								</div>
							</div>

						</div>
						
						<div class="clearfix row" ng-if="isPriority">
							<!-- <div class="form-group col-sm-3" ng-if="!isPriority" ng-class="{true: 'has-error'}[submitted && createQueueForm.isAutoExpire.$invalid]">
									<span class="textcell_reports">AUTO EXPIRE:</span> 
									
									
									<select ng-model="$parent.isAutoExpire" ng-change="changeAutoExpiry(isAutoExpire)" name="isAutoExpire" id="isAutoExpire" ng-disabled = "!isAutoEscalateDisabled"  class="form-control" required>
										<option class="upperCases" ng-repeat="item in expireList" value="{{item.value}}">{{item.name}}</option>
									</select>
									<div class="text-danger" id="selectedChannel_required_msg"
									ng-show="createQueueForm.isAutoExpire.$error.required && submitted">
									<small>This is a required field.</small>
								</div>
							</div> -->
							<div class="form-group col-sm-3" ng-if="isAutoEscalateDisabled" ng-class="{true: 'has-error'}[submitted && createQueueForm.isAutoExpire.$invalid]">
									<span class="textcell_reports">AUTO EXPIRE:</span> 
									
									
									<select ng-model="isAutoExpire" ng-change="changeAutoExpiry(isAutoExpire)" name="isAutoExpire" id="isAutoExpire" ng-disabled = "!isAutoEscalateDisabled" class="form-control" required>
										<option class="upperCases" value="true">YES</option>
									</select>
									<div class="text-danger" id="selectedChannel_required_msg"
									ng-show="createQueueForm.isAutoExpire.$error.required && submitted">
									<small>This is a required field.</small>
								</div>
							</div>
							<div class="form-group col-sm-3" ng-if="!isAutoEscalateDisabled" ng-class="{true: 'has-error'}[submitted && createQueueForm.isAutoExpire.$invalid]">
									<span class="textcell_reports">AUTO EXPIRE:</span> 
									
									
									<select ng-model="isAutoExpire" ng-change="changeAutoExpiry(isAutoExpire)" name="isAutoExpire" id="isAutoExpire" ng-disabled = "!isAutoEscalateDisabled"  class="form-control" required>
										<option class="upperCases" value="false">No</option>
									</select>
									<div class="text-danger" id="selectedChannel_required_msg"
									ng-show="createQueueForm.isAutoExpire.$error.required && submitted">
									<small>This is a required field.</small>
								</div>
							</div>
							<div class="form-group col-sm-3" ng-class="{true: 'has-error'}[submitted && createQueueForm.expiryTime.$invalid]">
									<span class="textcell_reports">EXPIRED TIME(IN DAYS):</span> 
									
									<input type="text" class="form-control" id="expiryTime" name="expiryTime" ng-model="createQueue.expireTime" placeholder="Enter Expiry Time*" autocomplete="off"
									 maxlength="1" ng-pattern-restrict="^[1-7]*$" ng-disabled = "!isAutoEscalateDisabled"  ng-required="isAutoEscalateDisabled" />
									 <div class="text-danger" id="selectedChannel_required_msg"
									ng-show="createQueueForm.expiryTime.$error.required && submitted">
									<small>This is a required field.</small>
								</div>
							</div>
							<!-- <div class="form-group col-sm-3" ng-if="!isPriority" ng-class="{true: 'has-error'}[submitted && createQueueForm.isAutoEscalate.$invalid]">
									<span class="textcell_reports">AUTO ESCALATE:</span> 
									<select ng-model="$parent.isAutoEscalate" name="isAutoEscalate" ng-change="changeAutoEsclate(isAutoEscalate)" ng-disabled = "isAutoEscalateDisabled" id="isAutoEscalate" class="form-control" required>
										<option ng-repeat="item in expireList" value="{{item.value}}">{{item.name}}</option>
									</select>
									 <div class="text-danger" id="selectedChannel_required_msg"
									ng-show="createQueueForm.isAutoEscalate.$error.required && submitted">
									<small>This is a required field.</small>
								</div>
							</div> -->
							<div class="form-group col-sm-3" ng-if="!isAutoEscalateDisabled" ng-class="{true: 'has-error'}[submitted && createQueueForm.isAutoExpire.$invalid]">
									<span class="textcell_reports">AUTO ESCALATE:</span> 
									
									
									<select ng-model="isAutoEscalate" ng-change="changeAutoEsclate(isAutoEscalate)" name="isAutoExpire" id="isAutoExpire" ng-disabled = "isAutoEscalateDisabled"  class="form-control" required>
										<option class="upperCases" value="true">YES</option>
									</select>
									<div class="text-danger" id="selectedChannel_required_msg"
									ng-show="createQueueForm.isAutoExpire.$error.required && submitted">
									<small>This is a required field.</small>
								</div>
							</div>
							
							<div class="form-group col-sm-3" ng-if="isAutoEscalateDisabled" ng-class="{true: 'has-error'}[submitted && createQueueForm.isAutoExpire.$invalid]">
									<span class="textcell_reports">AUTO ESCALATE:</span> 
									
									
									<select ng-model="isAutoEscalate" ng-change="changeAutoEsclate(isAutoEscalate)" name="isAutoExpire" id="isAutoExpire" ng-disabled = "isAutoEscalateDisabled"  class="form-control" required>
										<option class="upperCases" value="false">NO</option>
									</select>
									<div class="text-danger" id="selectedChannel_required_msg"
									ng-show="createQueueForm.isAutoExpire.$error.required && submitted">
									<small>This is a required field.</small>
								</div>
							</div>
							
							<div class="form-group col-sm-3" ng-class="{true: 'has-error'}[submitted && createQueueForm.isAutoEscalate.$invalid]">
									<span class="textcell_reports">ESCALATED TIME(IN DAYS):</span> 
									
									<input type="text" class="form-control"  ng-pattern-restrict="^[1-7]*$" id="escalateTime" name="escalateTime" ng-model="createQueue.escalateTime" placeholder="Enter Escalate Time*" autocomplete="off"
									 maxlength="1" ng-disabled = "isAutoEscalateDisabled"  ng-required = "!isAutoEscalateDisabled"/>
									  <div class="text-danger" id="selectedChannel_required_msg"
									ng-show="createQueueForm.escalateTime.$error.required && submitted">
									<small>This is a required field.</small>
								</div>
							</div>
						</div>
						<div class="clearfix row">
						
							
							
							<div class="form-group col-sm-6"
								ng-class="{true: 'has-error'}[submitted && createQueueForm.description.$invalid]">
								<span class="textcell_reports">DESCRIPTION:</span>
								<textarea class="form-control" id="description"
									name="description" placeholder="Description*"  ng-pattern-restrict="[A-Z a-z - ' @ 0-9]*$"
									autocomplete="off" ng-model="createQueue.description"
									maxlength="250" required></textarea>

								<div class="text-danger" id="description_required_msg"
									ng-show="createQueueForm.description.$error.required && submitted">
									<small>This is a required field.</small>
								</div>
								<div class="text-danger" id="description_maxlength_msg"
									ng-show="createQueueForm.description.$error.maxlength && submitted">
									<small>Maximum length required is 250</small>
								</div>
							</div>
						</div>
					<fieldset ng-if="showChannels">
						<legend  class="custom-style">Queue Condition</legend>
						<span class="transaction-text text-info"><span class="text-danger">* </span>Please select at least one rule or create a condition or both for create queue. </span>
						<span ng-if="showErrormsg" class="transaction-text text-warn"><span class="text-danger">* </span>Please select at least one queue condition. </span>
						<span ng-if="showValidErrormsg" class="transaction-text text-warn"><span class="text-danger">* </span>Please provide valid queue condition. </span>
						<div ng-if="showChannels" ng-repeat="choice in choices track by $index">
							<label for="choice" ng-show="showChoiceLabel(choice)" >Choices</label>
						    <!-- <button ng-show="showAddChoice(choice)" ng-click="addNewChoice()">Add Condition</button>
						    <button ng-if="showbtn" ng-click="removeNewChoice()">Remove Condition</button> -->
							<div class="clearfix row" style="margin-bottom: -3%;">
								<div class="form-group col-sm-3" >
									<span class="textcell_reports">TRANSACTION ATTRIBUTE:</span> 
									<select ng-model="choice.selectedAttribute"  ng-change="cheangeTransaction(choice)" name="selectedAttribute" id="selectedAttribute" class="form-control">
										<option style="display:none" value="selectedAttribute" >PLEASE SELECT TRANSACTION ATTRIBUTE</option>
										<!-- <option ng-repeat="item in attributes" value="{{item.targetFieldCode}}">{{item.desc}}</option> -->
										<option class="upperCases" ng-repeat="item in attributes" value="{{item.value}}">{{item.name}}</option>
									</select>
								</div>
								
								<div class="form-group col-sm-2" >
									<span class="textcell_reports">OPERATION:</span> 
									<select ng-model="choice.selectedExpression"  ng-change="checkIn(choice.selectedExpression)"  name="selectedExpression" id="selectedExpression" class="form-control">
										<option style="display:none" value="selectedExpression" >PLEASE SELECT THE OPERATION</option>
										<option ng-repeat="item in expressionItems" value="{{item.value}}">{{item.name}}</option>
									</select>
								</div>
							<div  ng-if="choice.selectedAttribute != 'binType'">
							 <div  class="form-group col-sm-12" style="padding-right:0px;padding-left:0px" ng-if="showValueField"> 
							 	
								<div class="form-group col-sm-12" ng-if="choice.selectedExpression != 'in' && choice.selectedAttribute != 'txnAmount'">
									<span class="textcell_reports">VALUE:</span> 
									<input type="text" maxlength={{choice.maxNo}} ng-pattern-restrict={{choice.pattern}} class="form-control"  id="value1" name="value1" ng-model="choice.value" placeholder="Enter Value" autocomplete="off"
									   />
									   
									 <!--  <div class="text-danger" id="queueName_update_maxlength_msg"
										ng-show="createQueueForm.choices.id.$error.pattern && submitted">
										<small>Maximum length required is 50</small>
									</div> -->
								</div>
								
								<div class="form-group col-sm-12"  ng-if="choice.selectedExpression != 'in' && choice.selectedAttribute == 'txnDate'">
									<span class="textcell_reports">VALUE:</span> 
									<input type="text"  datepicker3 placeholder="MM/DD/YYYY" maxlength="10" class="form-control"  id="{{choice.id}}"  ng-model="choice.value"  autocomplete="off"
									   />
									   
									 <!--  <div class="text-danger" id="queueName_update_maxlength_msg"
										ng-show="createQueueForm.choices.id.$error.pattern && submitted">
										<small>Maximum length required is 50</small>
									</div> -->
								</div>
								
								<div class="form-group col-sm-12"  ng-if="(choice.selectedExpression == '>=' || choice.selectedExpression == '=' ) && choice.selectedAttribute == 'txnAmount'">
									<span class="textcell_reports">VALUE:</span> 
										<input type="text" class="form-control" pattern="[1-9]\d*" id="{{choice.id}}" name="{{choice.id}}" ng-model="choice.value" placeholder="Enter Value" autocomplete="off"
										   />
										 <div class="text-danger text-left" id="email_validation_msg" ng-show="createQueueForm.{{choice.id}}.$error.pattern"><small>Please provide valid input.</small></div>						
								</div>
								
								<div class="form-group col-sm-12"  ng-if="(choice.selectedExpression == '<' || choice.selectedExpression == '<=')  && choice.selectedAttribute == 'txnAmount'">
									<span class="textcell_reports">VALUE:</span> 
										<input type="text" class="form-control" pattern="[2-9]|[1-9]\d+|[0-9]\d{2,}" id="{{choice.id}}" name="{{choice.id}}" ng-model="choice.value" placeholder="Enter Value" autocomplete="off"
										   />
										 <div class="text-danger text-left" id="email_validation_msg" ng-show="createQueueForm.{{choice.id}}.$error.pattern"><small>Please provide valid input.</small></div>						
								</div>
								
								<div class="form-group col-sm-12"  ng-if="(choice.selectedExpression == '>' ||  choice.selectedExpression == '!=')  && choice.selectedAttribute == 'txnAmount'">
									<span class="textcell_reports">VALUE:</span> 
										<input type="text" class="form-control" pattern="[0-9]\d*" id="{{choice.id}}" name="{{choice.id}}" ng-model="choice.value" placeholder="Enter Value" autocomplete="off"
										   />
										 <div class="text-danger text-left" id="email_validation_msg" ng-show="createQueueForm.{{choice.id}}.$error.pattern"><small>Please provide valid input.</small></div>						
								</div>
								
									<div class="form-group col-sm-12" ng-if="choice.selectedExpression == 'in' ">
										<span class="textcell_reports">VALUE:</span> 
										<input type="text" class="form-control" id="queueName"name="value" ng-model="choice.value" placeholder="Enter Value" autocomplete="off"
										   />
									</div>
								</div>
								</div>
								<div class="form-group col-sm-3" ng-if="choice.selectedAttribute == 'binType'">
									<div class="form-group col-sm-12">
										 <span class="textcell_reports">VALUE:</span> 
										<select ng-model="choice.value"   name="selectedExpression" id="selectedExpression" class="form-control">
											<option style="display:none" value="" >PLEASE SELECT THE VALUE</option>
											<option ng-repeat="item in binTypeValues" value="{{item.value}}">{{item.name}}</option>
										</select>
									</div>
								</div>
								<!-- <div class="form-group col-sm-2" ng-if = "choice.selectedExpression == 'in'">
									<span class="textcell_reports">VALUE:</span> 
									<input type="text" class="form-control" id="queueName" ng-change="changeVluetwo()" name="value" ng-model="choice.secvalue" placeholder="Enter Value" autocomplete="off"
									 maxlength="50"  />
								</div> -->
								
								<div class="form-group col-sm-2 createQueue-addChoiceBtn" >
									<div class="form-group col-sm-2" ng-if="showAddChoice(choice)" ><a ng-click="addNewChoice()"  class="fa fa-plus-circle createQueue-addBtn"  aria-hidden="true"></a></div>
									<div class="form-group col-sm-2"  ng-if="showbtn"><a ng-click="removeNewChoice(choice)" class="fa fa-minus-circle createQueue-removeBtn" ></a></div>
								</div>
								
							</div>
						</div>
						
						<div ng-if="showDatatable" class="clearfix row">

							<div class="form-group col-md-12">
							   <div class="tab-pane active searchUser" id="searchUser">
								<span class="textcell_reports createQueue-ruleFont" >Select Rule:</span>
								<div class="col-sm-12 createQueue-searchQueueDesc">
									<div class="row">
										<div class="col-sm-4">
											<span class="textcell_reports">Search Rule By Name</span>
											<input type="text" name="rule_desc" autocomplete="off" class="form-control"  placeholder="Enter Rule Name" ng-model="searchData.ruleName"  autocomplete="off"/>
										</div>
										<div class="col-sm-4">
											<span class="textcell_reports">Search Rule Description</span>
											<input type="text" name="rule_desc" autocomplete="off" class="form-control" placeholder="Enter Rule Description" ng-model="searchData.ruleDesc"  autocomplete="off"/>
										</div>
										
									</div>
								</div>
								
								<div class="col-sm-12" style="padding-left: 0;">
								<table ng-if="showDatatable" id="mainTable" class="table  t-responsive">
									<thead>
										<tr>
											<th scope="col" ng-if="overridingRulesList.length != 0" class="noExport"><input ng-model="model.allItemsSelected" ng-change="selectAll(model.allItemsSelected)"   type="checkbox"></th>
											<!-- <th scope="col" id="img"></th> -->
											<!-- <th scope="col" class="createQueue-ruleTableWidth">Rule Id</th> -->
											<th scope="col" class="createQueue-ruleTableWidth">Rule&nbsp;Name</th>
											<th scope="col">Rule Description</th>

										</tr>
									</thead>
									<tbody id="mainTableBody" dir-paginate="rule in overridingRulesList |orderBy:sortKey:reverse|filter:searchData|itemsPerPage:5">
										<tr id="case_table_expand_row"
											ng-class="case.select?'expandColorTr':''">
											<td data-label="Expand to more info" id="queue_select">
												<input type="checkbox" id = {{rule.ruleId}} ng-click='doIfChecked(rule.ruleId,isChecked)' ng-change="selectEntity()" ng-checked="isCheckedQueue(rule.ruleId)" ng-model="isChecked">
											</td>
											<!-- <td data-label="rule_id">{{ rule.ruleId }}</td> -->
											<td data-label="rule_Name" >{{rule.ruleName}}</td>
											<td data-label="rule_desc">{{ rule.ruleDesc}}</td>
										</tr>

									</tbody>
								</table>
								
								<div  ng-show="(overridingRulesList|filter:searchData).length==0 || overridingRulesList.length == '0' || overridingRulesList == undefined" class="text-center noData"><h6>No Rules Selected</h6></div>  
								<div class="gridPagination clearfix" ng-if="showDatatable">

									<div class="col-sm-10 createQueue-ruleTablePagination" >
										<dir-pagination-controls max-size="5" direction-links="true"
											boundary-links="true"></dir-pagination-controls>
									</div>
									
									<div class="col-sm-2 createQueue-ruleTablePagination" >
										<a href="#" ng-if="data.length > 0" data-toggle="collapse" data-target="#demo">Show Selected Rules<i class="fa fa-caret-down" aria-hidden="true"></i></a>
									</div>
								</div>
								</div>
								
								<div class="col-sm-3 collapse" id="demo" ng-if="data.length > 0" style="margin-left: 77%">
								
								<table ng-if="data.length > 0 || data != undefined" id="selectedDataTable" class="table  t-responsive">
									<thead>
										<tr>
											<th scope="col" id="img"></th>
											<th scope="col" class="createQueue-ruleTableWidth">Rule Name</th>
											
										</tr>
									</thead>
									<tbody id="selectedDataTableBody" ng-repeat="rule in data">
										<tr id="case_table_expand_row"
											ng-class="case.select?'expandColorTr':''">
											<td data-label="Expand to more info" id="queue_select">
												<!-- <input type="checkbox" id = {{rule}} ng-click='doIfChecked(rule,false)'> -->
												<a href="#" id = {{rule}} ng-click='doIfChecked(rule,false)' style="color:red">Remove</a>
											</td>
											<td data-label="rule_id" style="word-break: break-all">{{ convertRuleIDToName(rule)}}</td>
											
										</tr>

									</tbody>
								</table>
								
								<!-- <div  ng-show="data.length==0 || data.length == '0' || data == undefined" class="text-center noData"><h6>No Rules Selected</h6></div>   -->
								
								</div>
								</div>
							</div>
						</div>
						</fieldset>
						
						
						<span ng-show="showSubmitButton">
						<button type="submit" id="queue_form_submitted" 
							class="btn btn-lg btn-danger createQueue-Submitbtn" ng-click="submitted=true">Submit</button></span>
						<!-- <button type="button" class="btn btn-lg btn-danger createQueue-Submitbtn" ng-if="data.length > 0" data-toggle="collapse" data-target="#demo">Show Selected Rules</button> -->
						
						<button  type="button" id="queue_form_back" ng-show="isEditable || !showSubmitButton"
							class="btn btn-lg btn-danger createQueue-Submitbtn" ng-click="backPage()">Back</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
