<div class="userDashboard container-fluid">
<div class="hasHeader">
		<div class="userTabs clearfix ">
			<div class="tab-content formStyle">
			<fieldset>
  <legend class="custom-style">View Cases</legend>
	<!-- <h5>Review Cases</h5> -->
<form name="myForm" ng-submit="myForm.$valid && onCaseSubmit()" novalidate accessible-form>
	 <div class="row searchCriteria">
	 
	<div class="col-xs-4 col-lg-4">
    	<span class="textcell_reports">ORGANISATION:</span> 
		 <select class="form-control upperCases" 
		 id="organisation_fld"
		 name="organisation_fld"
		 ng-disabled="isDisabled"
		 ng-model="SelectedOrdid" 
		 ng-dropdown 
		 ng-options="option.name for option in orgarnisations | orderBy:'name' track by option.orgId"
		 ng-change="setOrgid(SelectedOrdid)" required>
		 <option style="display:none" value="">PLEASE SELECT</option>
	   </select> 
	   <!-- <ui-select 
           id="organisation_fld"
           name="organisation_fld"
           ng-model="SelectedOrdid" 
           uiSelectNoAnimate
           theme="selectize"  
           title="Choose a organisation"
           ng-disabled="isDisabled"
           append-to-body="true" 
           close-on-select="true" 
           on-select="setOrgid(SelectedOrdid)"
           ng-required="true"
	       >
      	 <ui-select-match placeholder="SELECT A ORGANISATION IN THE LIST...">{{$select.selected.name}}</ui-select-match>
	     <ui-select-choices 
	        repeat="option.orgId as option in  orgarnisations | propsFilter:{name:$select.search} | uppercase"
	        position="down" 
	       
	        refresh-delay="300">
	      <span ng-bind-html="option.name | highlight: $select.search"></span>
	      <small ng-bind-html="option.code | highlight: $select.search"></small>
	    </ui-select-choices>
    </ui-select> -->
	   <div class="text-danger" id="firstname_required_msg" ng-show="myForm.organisation_fld.$error.required && submitted"><small>This is a required field.</small></div>
    </div>
    
     <div class="col-xs-3 col-lg-3">
    	<span class="textcell_reports">CHANNEL:</span> 
		<select 
		 name="chnl_fld"
		 class="form-control upperCases" 
		 ng-model="selectedChannel" 
		 ng-dropdown  
		 ng-options="option.channelDesc  for option in channel_code |orderBy:'channelDesc' track by option.channelCode"
		 ng-change="setChannel(selectedChannel)" required>
		<option style="display:none" value="">PLEASE SELECT</option>
	   </select>
     <div class="text-danger" id="firstname_required_msg" ng-show="myForm.chnl_fld.$error.required && submitted"><small>This is a required field.</small></div>
  </div>
	 
	
	 
	 <div class="col-xs-2 col-lg-2">
      	<div class="date_cell">
			<span class="textcell_reports">FROM DATE:</span> 
			<input type="text"
			    name="fromDate"
				date-picker2="" 
				placeholder="MM/DD/YYYY" 
				maxlength="10"
				class="form-control3" 
				ng-model="fromDate1" 
				ng-change="chnageDate()"
				min-date="-100M"
				max-date="+0D" 
				required 
				readonly="">
		</div>
		<div class="text-danger" id="firstname_required_msg" ng-show="myForm.fromDate.$error.required && submitted"><small>This is a required field.</small></div>
		<div class="text-danger" id="fromdatetodatemsg" ng-if="showMiMaxDateMsg"><small>From date can not be grater than to date .</small></div>
    </div>
    
    <div class="col-xs-2 col-lg-2">
      <div class="date_cell">
			<span class="textcell_reports">TO DATE:</span> 
			<input type="text"
			       name="toDate_field"
				   date-picker2="" 
				   placeholder="MM/DD/YYYY" 
				   maxlength="10"
				   class="form-control3" 
				   ng-change="toDate()"
				   ng-disabled="disabledToDate"
				   ng-model=" toDate1" 				   
				   min-date="{{mintoDate | date:'dd-MM-yyyy'}}"
				   max-date="+0D" 
				   required 
				   readonly="">
      </div>
		<div class="text-danger" id="firstname_required_msg" ng-show="myForm.toDate_field.$error.required && submitted"><small>This is a required field.</small></div>
	</div>
 
  <div class="col-xs-3 col-lg-3">
    	<span class="textcell_reports">STATUS:</span> 
		<select 
		 name="status_fld"
		 class="form-control upperCases" 
		 ng-model="selectedStatus"
		 ng-dropdown   
		 ng-options="option.status for option in options|orderBy:'status' track by option.value"
		 ng-change="setStatus(selectedStatus)"  required>
		<option style="display:none" value="">PLEASE SELECT</option>
	   </select>
       <div class="text-danger" id="firstname_required_msg" ng-show="myForm.status_fld.$error.required && submitted"><small>This is a required field.</small></div>
  </div>
  
  <div class="col-xs-3 col-lg-3">
		<span class="textcell_reports">PERSPECTIVE:</span>
		<select class="form-control upperCases"
				ng-model="SelectedPerspective_val"
				name="prespective_fld"
				ng-dropdown ng-disabled="desableme==true"
				ng-change="setPrespective(SelectedPerspective_val)" required>
		<option style="display:none" value="">PLEASE SELECT</option>
			<option ng-repeat="option in perspectiveArray track by $index"
					value="{{option}}">{{prespectiveDisplay(option)}}</option>

		</select>
    </div>
    
     <!-- <div class="col-xs-3 col-lg-3">
    	<span class="textcell2">AML: <input type="checkbox" name="vehicle3" ng-model="value" ng-init="value=false"></span> 
		
     
    </div> -->
    
  </div>
  <button type="submit" id="review_cases_submit"  class="btn btn-lg btn-danger"  ng-click="submitted=true">Submit</button>
 </form>
 
    

</fieldset>
 <div ng-show="second_block" class="adj_from_top">
 <div class="tab-pane active searchUser" id="searchUser">
	 <span ng-show="searchUserData.length > '0'" class="showTotalRecords">
							<strong>Total Records :{{totalItems}}</strong>
						</span>
 <table class="table  t-responsive" id="user_table">
							<thead id="user_table_header">
								<tr id="user_table_row">
									<th scope="col" id="img" class="first_row"></th>
									<th scope="col" id="user_id">Case&nbsp;Id <span id="case_sort" class="fa fa-chevron-right calColor" ng-click="sort('caseId')" ng-class="caseIdSort?'fa-rotate-90':'fa-rotate-270'"></span></th>
<!--
								  	<th scope="col" id="lname">Transaction&nbsp;Id<span id="lname_sort" class="fa fa-chevron-right calColor" ng-click="sort('txnId')" ng-class="txnIdSort?'fa-rotate-90':'fa-rotate-270'"></span></th>
-->								  	<th scope="col">Alert Count
										<span id="alert_count_sort" class="fa fa-chevron-right calColor" ng-click="sort('txnCount')" ng-class="alertCountsort?'fa-rotate-90':'fa-rotate-270'"></span>
									</th>
									<th scope="col" id="lname">Creation Time <span id="lname_sort" class="fa fa-chevron-right calColor" ng-click="sort('creationTs')" ng-class="creationTsSort?'fa-rotate-90':'fa-rotate-270'"></span></th>

									<th scope="col">Locked&nbsp;To</th>
								  	<th scope="col">Manual/Auto</th>
									<th scope="col">Fraud Score
										<span id="risk_score_sort" class="fa fa-chevron-right calColor" ng-click="sort('finalRiskScore')" ng-class="fraudScoreSort?'fa-rotate-90':'fa-rotate-270'"></span>
									</th>
								  	<!-- <th scope="col" id="acc_status">Priority</th> -->
								  	<th scope="col" id="action"  ng-class="authority == 'ROLE_NTS_MGMT'?'ntsMgm':''">Action</th>
								</tr>
							</thead>
							
							<tbody  dir-paginate="user in searchUserData|orderBy:sortKey:reverse|filter:search|itemsPerPage:selectedPage" total-items="totalItems" current-page="currentPage" id="user_table_body">
								<tr id="user_table_expand_row" ng-class="user.select?'expandColorTr':''">
									<td data-label="Expand to more info" id="user_select">
										<h5><span class="fa" ng-class="!user.select?'fa-plus':'fa-minus'" ng-init="user.select=false" ng-model="user.select" ng-click="user.select=!user.select;isSessionValid()"></span></h5>
									</td>
									<td data-label="User Id" id="user_info_id">{{ user.caseId }}</td>
									<td data-label="User Id" id="user_info_id">{{ user.txnCount }}</td>
									<!--
                                                                        <td data-label="Last Name" id="user_info_lname" class="fixWidth"><p class="Uname">{{ user.txnId }}</p></td>
                                    -->
                                    <td data-label="Last Name" id="user_info_lname" class="tableWidth"><p>{{ user.creationTs!=null?(user.creationTs  | GMT):'NA'}}</p></td>
									<td data-label="case id">{{ user.lockedByUserId }}</td>
									
									<!-- <td data-label="Status" id="status">{{ user.caseStatus}}</td> -->
									<!--<td data-label="First Name" id="user_info_fname" >{{ channelDisplay(user.sourceChannel) }}</td>-->
								  	<td data-label="case type">{{ user.isManual == false ? 'AUTO' : 'MANUAL' }}</td>
									<td data-label="risk score">{{ chckRiskScore(user)}}</td>
								   <!--  <td data-label="Account Status" id="user_info_priority">{{ user.priority }}</td> -->	
								  	<td data-label="Action" id="user_info_action" ng-class="authority == 'ROLE_NTS_MGMT'?'ntsMgm':''">
								  		<div class="dropdown" id="user_info_action_dropdown">
										  <button class="btn dropdown-toggle button-width" type="button" data-toggle="dropdown"><span class="fa fa-cog add_red" aria-hidden="true"></span>
										  </button>
										  <ul class="dropdown-menu drop-downadj drop-downadj2" id="user_info_action_dropdown_action"><!--ng-disabled="(authority == 'ROLE_NPCI_APPLICATION_SUPERVISOR') || (loggedInUserMail == user.email) || (authority == 'ROLE_NPCI_APPLICATION_ANALYSTS') || (authority == 'ROLE_BANK_SUPERVISOR') || (authority == 'ROLE_BANK_ANALYSTS')"-->
											  <li ng-if="rolePermission.isPermissionGranted(7115532665) && user.caseStatus =='PENDING_REVIEW'" ><a href="#" id="approve_case"><span class="glyphicon" ng-click="approve(user.caseId)"  aria-hidden="true" >&#xe013; Approve</span></a></li>
										    <li ng-if="rolePermission.isPermissionGranted(7115532665) && user.caseStatus =='PENDING_REVIEW'"><a href="#" id="reject_case" ><span ng-click="reject(user.caseId)" class="glyphicon"  aria-hidden="true" >&#xe014; Reject</span></a></li>
										    <li><a ng-click="showData(user.caseId, user.sourceChannel,user.assignedToOrig)" id="view_case" href="#" ><span  class="glyphicon" aria-hidden="true">&#xe105; View</span></a></li>
										    <!-- <li ng-click="assign(user.caseId)" ng-if="rolePermission.isPermissionGranted(1723019068) && loggedUserId != data.assignedToOrig"><a href="#" id="assign_case"><span class="glyphicon"  >&#xe013; Assign</span></a></li> -->
										    <li ng-click="assign(user.caseId,user.caseStatus)" ng-if="rolePermission.isPermissionGranted(1723019068) && user.caseStatus !='AUTO_EXPIRED' && (allowAssignAnalyst==true || chkAnalyist==false)"><a href="#" id="assign_case"><span class="glyphicon"  >&#xe013; Assign</span></a></li>
										  </ul>										 
										</div>
								  	</td>							  	
								</tr>
								<tr ng-show="user.select" id="user_select_row" class="expandColor">
									<td colspan="10" >
										<div class="row clearfix seacrhUserPadding">

											<div class="col-sm-4" id="queue_code" ><strong>Last Updated Time :</strong> <span class="lastName">{{ user.lastUpdateTs!=null?(user.lastUpdateTs |GMT):'NA' }}</span></div>


										</div>
									</td>
								</tr>
							</tbody>
</table>
</div>
			
	<div class="text-center noData ng-hide" id="no_data_found"
		ng-show="searchUserData.length == '0'">
		<h6>No Data Found</h6>
	</div>
<div class="gridPagination clearfix">

	<div class="col-sm-1" style="padding-left:0px" ng-show = "searchUserData.length != '0'">
		<select ng-model="selectedPage" name="pageSize" id="selectpage" ng-change="changePageSize(selectedPage)">
			<option value="5">5</option>
			<option value="10">10</option>
			<option value="25">25</option>
			<option value="50">50</option>
			<option value="100">100</option>
			<!-- <option value="ALL">Fetch All</option> -->
		</select>
	</div>
		
	 <!-- <dir-pagination-controls max-size="5"  direction-links="true" boundary-links="true" ></dir-pagination-controls> -->
						
	<dir-pagination-controls max-size="3" direction-links="true" ng-model="currentPage" on-page-change="searchUserSubmit(currentPage)" boundary-links="true" ></dir-pagination-controls>
</div>

</div>
	</div>
	</div>
	</div>
</div>
