<div class="ruleByEditor">
   <div class="row">
      <div class="col-md-6 pageHeading noPadding">
         <h5>{{pageLabel()}}</h5>
      </div>
      <div class="col-md-6 text-right">
         <!--  <i type="button" ng-click="goBackView()"
            class="fa fa-arrow-circle-o-left caseSearch-Left-Arrow cursor">Back</i> -->
      </div>
   </div>
  <rule></rule>
   <div class="row">
      <div class="col-sm-12 text-center"><button class="btn btn-lg btn-danger" ng-click="goBackView()">Back</button></div>
   </div>
</div>