<div class="ruleByEditor">
<div class="row">
   <div class="col-md-6 pageHeading noPadding">
      <h5>{{pageTitle}}</h5>
   </div>
</div>
<div class="row">
   <div class="col-sm-12">
      <div class="notGeneratedRules settings" id="searchUser">
         <table class="table  t-responsive">
            <thead>
               <tr>
                  <th>Ruleset Name</th>
                  <th>Organisation</th>
                  <th>Rules</th>
                  <th style="width:150px;">Status</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td style="text-transform:uppercase;">{{rulesetDtl.rulesetName}}</td>
                  <td>{{rulesetDtl.orgId}}</td>
                  <td>
                  
                        <div ng-repeat="ruleset in rulesetDtl.ruleIds">{{ruleset}}</div>
                    
                  </td>
                  <td style="width:150px;">{{rulesetDtl.status}}</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   
      <div class="col-sm-12 text-center" style="margin-top:15px;"><button class="btn btn-lg btn-danger" ng-click="goBackView()">Back</button></div>

</div>